body {
    background-color: rgb(73, 73, 73);
}

h1 {
    color: white;
    font-family:'Lucida Sans';
    text-align: center;
    margin-bottom: 5%;
}

#icone {
    color: white;
}

#jogador {
    height: 24px;
    width: 210px;
    font-size: 17px;
}

#pesquisa {
    margin-left: 27%;
    margin-bottom: 5%;
}

.cards {
    display: inline-block;
    margin-left: 17%;
}

.card {
    background-color: white;
    width: 280px;
    border-radius: 15%;
    display: inline-block;
    margin-bottom: 3%;
    justify-content: center;
    align-items: center;
    margin-left: 3%;

}

.foto {
    margin-top: 10%;
    border-radius: 10%;
    margin-left: 8%;
}

.nome {
    text-align: center;
    font: 28px Verdana;
    margin-top: -2px;
}

.posicao {
    text-align: center;
    font: 18px Verdana;
    margin-top: -10px;
}

.hidden {
    display: none;
}


@media screen and (min-width: 720px) {
    h1 {
        margin-bottom: 5%; 
    }

    #pesquisa {
        margin-left: 36%;
    }

    #jogador {
        width: 300px;
    }
    .cards {
        margin-left: 5%;
    }
}

@media screen and (min-width: 1224px) {
    #pesquisa {
        margin-left: 40%;
    }
    .cards {
        margin-left: 5%;
    }
}

@media screen and (min-width: 1800px) {
    #pesquisa {
        margin-left: 42%;
    }

    #jogador {
        height: 30px;
        font-size: 20px;
    }
    .cards {
        margin-left: 5%;
    }
}